* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   min-height: 100vh;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   display: grid;
   place-content: center;
}

.box {
   margin: 10px 0;
   font-size: 1.5em;
   max-width: 330px;
   background-color: rgb(39, 39, 39);
   color: white;
   border-radius: 10px 10px;
}

.display-number {
   width: 100%;
   min-height: 130px;
   display: flex;
   align-items: flex-end;
   justify-content: flex-end;
   padding: 0.5em;
}

.button-container {
   margin: 5px 0;
   width: 100%;
   padding: 20px;
   background-color: rgb(56, 56, 56);
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
   gap: 20px;
}

.history-operator {
   align-self: flex-start !important;
   font-size: 0.8em;
   color: rgb(138, 138, 138);
}

.reset {
   grid-column: 1/3;
}

.del {
   font-size: 0.6em;
}

.nan {
   background-color: rgb(32, 127, 158);
}

.equal {
   grid-row: 4/6;
   grid-column: 4/5;
}

button {
   font-size: 1em;
   cursor: pointer;
   width: 100%;
   color: white;
   border: none;
   padding: 5px;
   min-width: 50px;
   min-height: 50px;
   border-radius: 5px;
   background-color: rgb(92, 91, 91);
   transition: 0.2s ease-in all;
}

button:hover {
   background-color: rgb(211, 173, 104);
}
