@use 'modules/mixin' as helper;

// Variables
$sidebarColor: #151e4b;
$font: 'Poppins', sans-serif;
$gray: #eaeaea;

body {
   background-color: $gray;
   font-family: $font;
}

img {
   width: 100%;
   height: 300px;
   object-fit: cover;
   object-position: center;
}

section {
   min-height: 100vh;
   @include helper.flex(column ,true);
}

.container {
   width: 100%;
   max-width: 1200px;
   min-height: 70vh;
   margin: 20px auto;
   background-color: white;
   border-radius: 20px;
   padding: 40px;
}

header {
   .title {
      margin-bottom: 40px;
   }
}

main {
   img {
      border-radius: 10px;
   }

   button {
      @include helper.buttonStyle(white, 10px, 1px solid black);
      margin-top: 30px;
   }
}

.main-box {
   @include helper.flex(row);
   gap: 10px;

   article {
      @include helper.gridColumn(repeat(3, 1fr), 20px);

      h1 {
         font-size: 1.4em;
      }
   }

   aside {
      @include helper.flex(column);
      padding: 20px;
      height: min-content;
      background-color: $sidebarColor;
      color: white;
      border-radius: 10px;

      .content {
         padding: 20px 0;

         h1 {
            font-size: 1.4em;
         }

         button {
            @include helper.buttonStyle(white, 10px, 1px solid black);
            margin-top: 50px;
         }
      }
   }
}

.color-lighten-item {
   @include helper.colorLighten(#0a043c);
}

.color-darken-item {
   @include helper.colorDarken(#f8f7de);
}

.social-display {
   $colorList: (
      'youtube': red,
      'facebook': rgb(79, 79, 248),
      'soundcloud': rgb(250, 102, 34),
      gojek: green,
      whatsapp: green,
      snapchat: yellow,
   );

   @each $socialNames, $backgroundColor in $colorList {
      .#{$socialNames} {
         @if $socialNames == whatsapp {
            background-color: lighten($color: $backgroundColor, $amount: 20%);
         } @else {
            background-color: $backgroundColor;
         }

         padding: 20px;
         margin: 10px 0;
         border-radius: 10px;
         display: inline-block;
      }
   }
}

.picture-options {
   picture {
      height: fit-content;
      .picture-1 {
         @include helper.pictureFactory(200px, true);
      }

      .picture-2 {
         @include helper.pictureFactory(250px, false);
         margin-left: 20px;
      }
   }
}
