* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   min-height: 100vh;
   background-color: #1c2b2d;
   color: white;
   font-family: 'Courier New', Courier, monospace;
   display: grid;
   place-content: center;
   padding: 20px;
}

.text {
   width: 400px;
   height: 150px;
   border: 5px solid #fff;
   display: grid;
   padding: 20px;
   align-items: center;
   text-align: center;
}
