@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 200vh;
  font-family: "Comfortaa", cursive;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  background: transparent;
}
nav #logo {
  width: 200px;
}
nav .nav-links {
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  list-style: none;
}
nav .nav-links li {
  display: inline-block;
}
nav .nav-links li a {
  text-decoration: none;
  color: white;
}

.jumbotron {
  background-image: url(../../public/img/jumbotron.jpg);
  margin-top: -80px;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}
.jumbotron h1 {
  font-weight: 300;
}

.branding {
  width: 100%;
  display: flex;
  align-items: center;
}
.branding .card {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 250px;
  text-align: center;
  color: #2AEA89;
}
.branding .card i {
  font-size: 40px;
}
.branding .card h1 {
  color: white;
  margin-bottom: 5px;
}
.branding .card:nth-child(1) {
  background-color: #355563;
}
.branding .card:nth-child(2) {
  background-color: #2B2D3D;
}
.branding .card:nth-child(3) {
  background-color: #565F5E;
}

.offer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 400px;
}
.offer img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.offer .column-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #565F5E;
}
.offer .column-1 > * {
  margin: 10px;
}
.offer .column-1 h1 {
  font-size: 30px;
}
.offer .column-1 ul {
  list-style-type: none;
}
.offer .column-1 ul li {
  padding: 5px;
}
.offer .column-1 ul li::before {
  content: "•";
  color: #2AEA89;
  width: 40px;
  height: 40px;
  display: inline-block;
  font-weight: bold;
  margin-right: 10px;
  font-size: 20px;
}
.offer .column-1 button {
  margin-top: 20px;
  padding: 15px 30px;
  border-radius: 10px;
  background-color: #2AEA89;
  color: white;
  border: none;
  cursor: pointer;
}

.watch {
  width: 100%;
  min-height: 350px;
  background-image: url(../../public/img/video.jpg);
  text-align: center;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: white;
  text-transform: uppercase;
}
.watch::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.watch button {
  margin-top: 20px;
  padding: 15px 30px;
  border-radius: 10px;
  background-color: #2AEA89;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.news {
  background-color: #2AEA89;
  padding: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.news p {
  color: white;
}
.news .container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.news .container .card {
  width: 400px;
  background-color: white;
}
.news .container .card .top {
  width: 100%;
}
.news .container .card .top img {
  width: 100%;
}
.news .container .card .description {
  padding: 20px;
}
.news .container .card .description h1 {
  font-size: 1.3em;
}
.news .container .card .description p {
  margin-top: 10px;
  text-align: justify;
  color: #808080;
}
.news .container button {
  margin-top: 20px;
  padding: 15px 30px;
  border-radius: 10px;
  background-color: #333636;
  color: #2AEA89;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.start {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  background-color: #2B2D3D;
  color: white;
  min-height: 400px;
  text-align: center;
}
.start .start-project {
  margin-top: 20px;
  padding: 15px 30px;
  border-radius: 10px;
  background-color: #2AEA89;
  color: black;
  border: none;
  cursor: pointer;
}
.start .read-more {
  margin-left: 10px;
  margin-top: 20px;
  padding: 15px 30px;
  border-radius: 10px;
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
}

.footer .container {
  width: 100%;
  display: grid;
  min-height: 400px;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: end;
  padding: 30px;
}
.footer .container .column-2 a {
  display: block;
}

.footer-bottom {
  background-color: #2B2D3D;
}
.footer-bottom .container {
  width: 100%;
  padding: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-bottom .container a {
  text-decoration: none;
  color: #2AEA89;
}

/*# sourceMappingURL=main.css.map */
