@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   scroll-behavior: smooth;
   min-height: 100vh;
   background-color: #d9e4dd;
   font-family: 'Itim', sans-serif;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.wrapper {
   width: 100%;
   height: 100%;
}

.box-content {
   padding: 10px;
}

form {
   width: 100%;
   display: flex;
   flex-direction: column;
}

.title-create,
.note-create {
   font-size: 1.3rem;
   padding: 10px 0;
   display: flex;
   flex-direction: column;
}

input,
textarea {
   min-width: 44px;
   min-height: 44px;
   margin-top: 1.05rem;
   border-radius: 10px;
   border: none;
   display: block;
   padding: 0.55rem 1.1rem;
   font-size: 1.25rem;
   font-family: inherit;
   background-color: #f0eeec;
   box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
   resize: vertical;
}

input:focus,
textarea:focus {
   outline: 3px dashed #d8f3e2;
   background-color: #fafafafa;
}

input.submit-btn,
.open-edit {
   color: #fbf7f0;
   font-size: 1.1rem;
   cursor: pointer;
   font-family: inherit;
   padding: 0.55rem 1.2rem;
   border-radius: 10px;
   background: #555555;
   transition: 0.3s ease-in-out all;
   border: none;
}

input.submit-btn:hover,
input.submit-btn:focus,
.open-edit:hover,
.open-edit:focus {
   background: #777777;
}

.box {
   box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.box {
   position: relative;
   width: 100%;
   background-color: #fbf7f0;
   border-radius: 7px;
   padding: 1.1rem;
   margin-bottom: 1.5rem;
   display: flex;
   flex-direction: column;
}

.note-container {
   position: relative;
   margin-top: 1.1rem;
   min-height: 360px;
   display: grid !important;
   grid-template-columns: 1fr;
   gap: 20px;
}

.item {
   position: relative;
   display: flex;
   min-height: 170px;
   align-self: flex-start;
   flex-direction: column;
   padding: 10px;
   background-color: #dfdbd6;
   color: #3d3d3c;
   border-radius: 10px;
   overflow-x: hidden;
}

.item h1 {
   font-size: 1.5rem;
   width: 150px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

.item p {
   white-space: nowrap;
   width: 150px;
   overflow: hidden;
   text-overflow: ellipsis;
}

.delete-item {
   position: absolute;
   top: 0;
   right: 0;
   align-self: flex-end;
   cursor: pointer;
   border-radius: 50%;
   min-width: 44px !important;
   min-height: 44px !important;
   border-radius: 50%;
   border: none;
   margin: 0.6rem;
   font-size: 20px;
   font-family: inherit;
   background-color: #dfdbd6;
   transition: 0.1s ease-in-out all;
}

.delete-item:hover {
   border: 2px solid #3d3d3c;
   transform: scale(1.1);
}

.open-edit {
   align-self: flex-end;
   margin-top: auto !important;
}

.note-item,
.open-edit {
   margin-top: 1.1rem;
}

.date-item {
   font-size: 0.8rem;
   color: #8a8a8a;
   position: absolute;
   bottom: 20px;
}

.sub {
   display: flex;
   align-items: center;
   justify-content: space-between;
   text-align: center;
}
/* modal */

.modal {
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   opacity: 0;
   z-index: 20;

   visibility: hidden;
   width: 100%;
   height: 100vh;
   padding: 1.2rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: rgba(0, 0, 0, 0.4);
   transition: 0.3s all ease-in-out;
}

.open {
   opacity: 1;
   visibility: visible;
   transition: 0.3s all ease-in-out;
}

.modal-content {
   position: relative;
   border-radius: 10px;
   width: 100%;
   font-size: 1.3rem;
   background-color: #d9e4dd;
}

nav.nav-modal {
   position: relative;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   background-color: #cdc9c3;
}

.nav-modal-links {
   position: relative;
   list-style: none;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.user-note {
   position: relative !important;
   padding: 1rem;
   display: flex;
   flex-direction: column;
}

input:disabled,
textarea:disabled {
   color: black;
   background-color: #fbf7f0;
}

.edit-box {
   position: relative;
   margin-bottom: 1.5rem;
}

.edit-box.area {
   width: 100%;
}

.edit-text-modal {
   width: 100%;
   font-size: 1.25rem;
}

textarea.edit-text-modal {
   width: 100%;
   resize: vertical;
}

.close-modal,
.edit-modal,
.save-modal {
   cursor: pointer;
   display: block;
   padding: 0.75rem 1rem;
   border: none;
   font-size: 1.1rem;
   font-family: inherit;
   background-color: transparent;
   transition: 0.3s ease-in-out all;
}

.close-modal:hover,
.edit-modal:hover,
.save-modal:hover {
   color: white;
   background-color: rgba(0, 0, 0, 0.5);
}

.close-modal {
   padding: 0.75rem 1.5rem !important;
   border-top-left-radius: 10px;
}

li.edit-link {
   margin-left: auto;
}

.save-modal {
   border-top-right-radius: 10px;
}

.current-status {
   pointer-events: none;
   font-size: 1.1rem;
   margin-left: 0.5rem;
   border-radius: 10px;
   font-family: inherit;
}

/* No Item */

.no-item {
   min-height: 300px;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   font-size: 0.75rem;
}

@media (min-width: 520px) {
   .sub {
      font-size: 1rem;
   }
}

@media (min-width: 688px) {
   .wrapper,
   .modal-content {
      font-size: 1.3rem;
      max-width: 900px;
   }

   .wrapper {
      padding: 20px;
   }

   .note-container {
      grid-template-columns: 1fr 1fr;
   }

   .item {
      padding: 20px !important;
   }

   .item h1,
   .item p {
      width: 220px;
   }

   .close-modal,
   .edit-modal,
   .current-status,
   .save-modal {
      font-size: 1.5rem;
   }

   .current-status {
      margin-left: auto;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
   }

   .edit-text-modal {
      font-size: 1.2rem;
   }

   .user-note {
      padding: 1.5rem;
   }
}
