body {
  background-color: #eaeaea;
  font-family: "Poppins", sans-serif;
}

img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
}

section {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

.color-lighten-item:nth-of-type(1) {
  padding: 17px;
  background-color: #0e0654;
}
.color-lighten-item:nth-of-type(2) {
  padding: 17px;
  background-color: #12076c;
}
.color-lighten-item:nth-of-type(3) {
  padding: 17px;
  background-color: #160984;
}
.color-lighten-item:nth-of-type(4) {
  padding: 17px;
  background-color: #1a0a9c;
}
.color-lighten-item:nth-of-type(5) {
  padding: 17px;
  background-color: #1e0cb4;
}
.color-lighten-item:nth-of-type(6) {
  padding: 17px;
  background-color: #220ecb;
}
.color-lighten-item:nth-of-type(7) {
  padding: 17px;
  background-color: #260fe3;
}
.color-lighten-item:nth-of-type(8) {
  padding: 17px;
  background-color: #331cf0;
}
.color-lighten-item:nth-of-type(9) {
  padding: 17px;
  background-color: #4834f1;
}
.color-lighten-item:nth-of-type(10) {
  padding: 17px;
  background-color: #5e4cf3;
}

.color-darken-item:nth-of-type(1) {
  padding: 17px;
  background-color: #f4f2c9;
}
.color-darken-item:nth-of-type(2) {
  padding: 17px;
  background-color: #efedb4;
}
.color-darken-item:nth-of-type(3) {
  padding: 17px;
  background-color: #ebe89f;
}
.color-darken-item:nth-of-type(4) {
  padding: 17px;
  background-color: #e6e38a;
}
.color-darken-item:nth-of-type(5) {
  padding: 17px;
  background-color: #e2de75;
}
.color-darken-item:nth-of-type(6) {
  padding: 17px;
  background-color: #ddd860;
}
.color-darken-item:nth-of-type(7) {
  padding: 17px;
  background-color: #d9d34b;
}
.color-darken-item:nth-of-type(8) {
  padding: 17px;
  background-color: #d4ce36;
}
.color-darken-item:nth-of-type(9) {
  padding: 17px;
  background-color: #c6c02a;
}
.color-darken-item:nth-of-type(10) {
  padding: 17px;
  background-color: #b1ac26;
}

.container {
  width: 100%;
  max-width: 1200px;
  min-height: 600px;
  margin: 20px auto;
  background-color: white;
  border-radius: 20px;
  padding: 40px;
}

header .title {
  margin-bottom: 40px;
}

main img {
  border-radius: 10px;
}
main button {
  background-color: white;
  border-radius: 10px;
  padding: 10px 20px;
  border: 1px solid black;
  cursor: pointer;
  color: black;
  margin-top: 30px;
}
main button {
  transition: 0.2s ease-in;
}
main button:hover {
  background-color: #dddbdb;
}

.main-box {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.main-box article {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.main-box article h1 {
  font-size: 1.4em;
}
.main-box aside {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: min-content;
  background-color: #151e4b;
  color: white;
  border-radius: 10px;
}
.main-box aside .content {
  padding: 20px 0;
}
.main-box aside .content h1 {
  font-size: 1.4em;
}
.main-box aside .content button {
  background-color: white;
  border-radius: 10px;
  padding: 10px 20px;
  border: 1px solid black;
  cursor: pointer;
  color: black;
  margin-top: 50px;
}
.main-box aside .content button {
  transition: 0.2s ease-in;
}
.main-box aside .content button:hover {
  background-color: #dddbdb;
}

/*# sourceMappingURL=main.css.map */
