* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   min-height: 100vh;
   display: grid;
   place-items: center;
   background-image: url(pic.jpg);
}

.container {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
}

.drum {
   min-width: 100px;
   border: 1px solid black;
   margin: 10px;
   text-align: center;
   padding: 20px;
   transition: 0.1s all ease-in;
   color: white;
   background: rgba(32, 32, 32, 0.9);
}

.drum p {
   color: yellowgreen;
   font-size: 20px;
}

.drum i {
   font-size: 14px;
   color: orange;
}

.drum.sound-on {
   transform: scale(1.1);
   box-shadow: 0 0 10px 5px yellowgreen;
}

.drum > * {
   padding: 10px;
}
